#body-wrapper.chat {
  height: 100%;
  padding-top: 50px;    /* Leave room for header */
}

#body-wrapper.chat > .body-content {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-flow: column nowrap;
}

#chat-tabs {
  display: flex;
  flex-flow: row nowrap;
  background-color: #222;
  box-shadow: 0 1px 5px #ccc; 
}

#chat-tabs > li {
  flex: 1;
  text-align: center;
  float: none;
  margin: 0;
}

#chat-tabs > li > a {
  background-color: #222;
  color: #999;
}

#chat-tabs > li.active > a {
  color: #fff;
  border-bottom: 3px solid #fff;
}

#chat-content {
  flex: 1;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: row nowrap;
}

.chat-tab-content {
  flex: 1;
  display: none;
  border: 1px solid #ccc;
}

.chat-tab-content.active {
  display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #body-wrapper.chat {
    padding-bottom: 50px; /* Leave room for footer */
  }
    
  #chat-tabs {
    display: none;
  }
  
  #chat-content {
    margin: 0 auto;
  }
    
  .chat-tab-content {
    display: block;
  }
  
  #chat-messages {
    margin-right: 15px;
    flex: 4;
  }
  
  #chat-users {
    flex: 1;
  }
}