#user-comments {
  height: 280px;
  overflow: auto;
}

#user-comments ul {
  padding-right: 15px;  /* Leave room for scollbar */
}

#user-comments ul > li {
  margin-left: 120px;
  margin-bottom: 20px;
}

#user-comments ul > li > div {
  margin-left: -120px;
}

#user-comments ul > li > div img {
  width: 100px;
  height: auto;
}