#add-video-source {
  text-align: left;
}

#add-video-source .caret {
  float: right;
  margin-top: 9.5px;
}

#add-video-source-menu {
  width: 100%;
}

.add-video-upload-drop {
  border: 3px dashed #ccc;
  text-align: center;
  padding: 3em 0;
  cursor: pointer;
}

.add-video-upload-drop.active {
  border-color: #adadad;
  background-color: #e6e6e6;
}

.has-error > .add-video-upload-drop {
  border-color: #ff0039;
}

.add-video-tags.form-control {
  height: auto;
  padding-bottom: 0;
}

.add-video-tags > .label {
  padding: 6px 10px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

.add-video-tags > .label,
.add-video-tags > input {
  margin-bottom: 10px;
}

.add-video-tags > input {
  border: none;
}

.add-video-tags > input:focus {
  outline: none;
}